*{    transition: all;
    transition-duration: 800ms;
}
  


main{background: linear-gradient(to right, #c2b6ff, #c8e4ff);
}


.navbar{
    color: #329ad6!important;
    padding: 0 !important;
    margin-bottom: -49px;
    border-radius: 0 !important; 
    position:sticky;
    top: 0;
    z-index: 999;
}


.nav-item{

    font-weight: 500 !important;

}

li:hover{

    box-shadow: 0 0 20px;


}
.hero{

    background-image:url(pozadi.svg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:unset;
    
    

    
    
}

h1{font-size: 10rem;
    font-weight: 600;
    padding-top: 150px;
    color: #329ad6;
    text-shadow: 0px 0 10px;
}

h4{

  font-size: 20px;
  font-weight: 500;

}


.textik{
    background: rgba(219, 219, 219, 0.3);
  
    border-radius: 10px;
}
footer{

    font-weight: 500;
    font-size: 20px;
    height: 100px;
    background-color: #252525;
    color: #999999;

}


.ikonka{
  font-size: 40px;
  color: #787878;
}

.ikonka:hover{

  color: #329ad6;

}



  .druhaanimace{
    animation: nevim 4s ease;
  }

  .vzorec{

    font-style: italic;
    font-size: 30px;
    font-weight: 500;

  }

  .vzorec2{
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
  }

  .predel{

    background-color: #252525;

}

#progressContainer {
position: fixed;
  top: 0;
left: 0;

  width: 100%;
  height: 12px;
  background: transparent;
  z-index: 999;
  
  
 
}


#progressBar {

  height: 100%;
  width: 0%;
  background-color: #C99012;
  transition: width 0.1s ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

  #arrow1 {
    animation-delay: 2s;
     font-size: 60px; /* Larger size for better visibility */
    color: #329ad6 !important; 
    text-shadow: 0 0 10px;
    font-weight: 800;
    

    animation: bounce 2s ease-in-out infinite ;
  }
  @keyframes nevim{
    0%{
        opacity: 0%;
        transform: translateY(70px);
    }
    100%{
        opacity:100%;
        transform: translateY(0px);
    }
    
  }


  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Slight upward movement */
    }
    100% {
      transform: translateY(0);
    }
  }


  @media screen and (max-width:768px){
    
        footer{


      font-size: 15px;


    }

    .ikonka{font-size: 20px}

  }

  @media screen and (max-width:320px){

    h1{

        font-size: 50px;

    }

    footer{


      font-size: 15px;


    }

    .ikonka{font-size: 20px}

}